<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_article_index')}}">Articles Board</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_category_index')}}">Categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_contact_index')}}">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
							<a href="{{ path('app_admin_index')}}" class="nav-link">Administrateur</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>